    * {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }
    /* mennu top */
    
    .box_bgheadertop {
        background-image: linear-gradient(to right, #d93323, #fbae17);
    }
    
    .bgheadertop {
        padding: 5px 0px;
        color: #000;
        font-size: 15px;
    }
    
    .flex-space-between {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .bghotline {
        padding-right: 15px;
    }
    
    .bghotline i,
    .bgdiachi i {
        padding-right: 6px;
    }
    
    .mxh img {
        display: inline-block;
        vertical-align: middle;
        padding: 0px 2px;
    }
    
    .hvr-float {
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    
    .hvr-float:active,
    .hvr-float:focus,
    .hvr-float:hover {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    /* nenu top */
    /* mennu */
    
    a {
        text-decoration: none !important;
        color: inherit;
    }
    
    .bgheader {
        background-color: #fff;
    }
    
    .logo {
        position: relative;
        z-index: var(--z-index);
        margin-bottom: -30px;
    }
    
    .logo img {
        height: 150px;
    }
    
    .cname {
        display: none;
    }
    
    .c-mburger {
        display: none;
        color: #fff;
        background-color: #c0a115;
        padding: 2px 5px;
        text-align: center;
    }
    
    .c-mburger {
        display: none;
        color: #fff;
        background-color: #c0a115;
        padding: 2px 5px;
        text-align: center;
    }
    
    .menu {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #000;
        font-weight: 500;
    }
    
    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0
    }
    
    .menu ul ul {
        background-color: #fff;
        display: none;
        position: absolute;
        width: 100%;
        min-width: 220px;
        height: auto;
        left: 0;
        top: 100%;
        z-index: 17;
        text-align: left;
        border: 2px solid #ddd;
        box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
        border-radius: 15px;
        padding: 15px 10px;
    }
    
    .menu ul ul ul {
        left: 100%;
        top: 0
    }
    
    .menu ul>li {
        display: inline-block;
        position: relative;
    }
    
    .menu>ul>li {
        vertical-align: middle;
        padding: 10px 0px;
    }
    
    .menu li.active>a,
    .menu>ul>li:hover>a:not(.btnsearch) {
        color: #fff;
        background-color: #ffa200;
    }
    
    .menu li a {
        display: block;
        border-radius: 30px;
    }
    
    .menu>ul>li>a:not(.btnsearch) {
        position: relative;
        padding: 7px 15px;
        text-transform: uppercase
    }
    
    .menu ul>li:hover>ul {
        display: block
    }
    
    .menu ul ul li {
        display: block;
        position: relative
    }
    
    .menu ul ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .menu>ul>li>ul {
        opacity: 0
    }
    
    .menu ul li:hover>ul {
        -webkit-animation: scale-in-ver-top .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
        animation: scale-in-ver-top .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both
    }
    
    @-webkit-keyframes scale-in-ver-top {
        0% {
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
            opacity: 1
        }
        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
            opacity: 1
        }
    }
    
    @keyframes scale-in-ver-top {
        0% {
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
            opacity: 1
        }
        100% {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
            opacity: 1
        }
    }
    
    .menu>ul>li>ul:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 30px;
        width: 18px;
        height: 9px;
        background-color: #ddd;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    
    .menu>ul>li>ul:after {
        content: '';
        position: absolute;
        bottom: 100%;
        margin-bottom: -1px;
        left: 33px;
        width: 12px;
        height: 7px;
        background-color: #fff;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    
    .fsearch-show {
        width: 205px;
        height: 37px;
        background-color: #f1f3f4;
        border-radius: 50px;
        overflow: hidden;
        font-family: var(--font-regular);
    }
    
    .fsearch-show input[type="search"] {
        padding-left: 15px;
        width: calc(100% - 50px);
        width: -moz-calc(100% - 50px);
        width: -webkit-calc(100% - 50px);
    }
    
    .fsearch-show button {
        width: 50px;
        padding: 0px;
        text-align: center;
    }
    
    .fsearch-show input[type="search"],
    .fsearch-show button {
        border: none;
        height: 100%;
        background: none;
    }
    
    .fsearch-show input[type="search"]:focus-visible {
        outline: none;
    }
    
    .mburger {
        --mb-button-size: 50px;
        --mb-bar-width: 0.6;
        --mb-bar-height: 4px;
        --mb-bar-spacing: 10px;
        --mb-cross-timeout: 0.4s;
        background: 0 0;
        border: none;
        border-radius: 0;
        color: inherit;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        height: var(--mb-button-size);
        padding: 0 0 0 var(--mb-button-size);
        margin: 0;
        line-height: var(--mb-button-size);
        vertical-align: middle;
        appearance: none;
        outline: 0;
        cursor: pointer
    }
    
    .mburger b {
        display: block;
        position: absolute;
        left: calc(var(--mb-button-size) * ((1 - var(--mb-bar-width))/ 2));
        width: calc(var(--mb-button-size) * var(--mb-bar-width));
        height: var(--mb-bar-height);
        border-radius: calc(var(--mb-bar-height)/ 2);
        background: currentColor;
        color: inherit;
        opacity: 1
    }
    
    .mburger b:nth-of-type(1) {
        bottom: calc(50% + var(--mb-bar-spacing));
        transition: bottom .2s ease, transform .2s ease
    }
    
    .mburger b:nth-of-type(2) {
        top: calc(50% - (var(--mb-bar-height)/ 2));
        transition: opacity .2s ease
    }
    
    .mburger b:nth-of-type(3) {
        top: calc(50% + var(--mb-bar-spacing));
        transition: top .2s ease, transform .2s ease
    }
    
    .mburger span:not(:empty) {
        padding-right: calc(var(--mb-button-size) * ((1 - var(--mb-bar-width))/ 2))
    }
    
    .mm-wrapper_opened .mburger b:nth-of-type(1) {
        bottom: calc(50% - (var(--mb-bar-height)/ 2));
        transform: rotate(45deg)
    }
    
    .mm-wrapper_opened .mburger b:nth-of-type(2) {
        opacity: 0
    }
    
    .mm-wrapper_opened .mburger b:nth-of-type(3) {
        top: calc(50% - (var(--mb-bar-height)/ 2));
        transform: rotate(-45deg)
    }
    /* mennu */
    
    .scrollToTop {
        position: fixed;
        z-index: var(--z-index);
        bottom: 35px;
        right: 18px;
        width: 48px;
        height: 48px;
        background: url(../images/top.png);
        cursor: pointer;
    }
    /* slide */
    
    .slide .item {
        position: relative;
    }
    
    .item .text {
        position: absolute;
        width: 585px;
        bottom: 15%;
        left: 50%;
    }
    
    .item .text h3 {
        font-size: 40px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 20px;
    }
    
    .item .text p {
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        text-align: justify;
        justify-content: center;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    /* slide */
    /* about */
    
    .about .img .to {
        width: 100%;
        padding: 8%;
    }
    
    .services .content .col-md-6 .things .text h3 a {
        color: #32409a;
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
        padding-bottom: 25px;
        line-height: 30px;
        display: block;
    }
    
    .about .img .things {
        position: relative;
    }
    
    .about .img .top-left {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .about .img .bottom-right {
        position: absolute;
        display: inline-block;
        width: 280px;
        bottom: 0;
        right: 0;
        text-align: right;
    }
    
    .about .title h5 {
        font-size: 20px;
        color: #e65925;
        font-weight: 500;
        display: inline-block;
    }
    
    .about .title h3 {
        font-size: 40px;
        color: #32409a;
        font-weight: 700;
        line-height: 50px;
    }
    
    .about .title .sumale {
        position: relative;
        display: inline-block;
    }
    
    .team .title span {
        position: absolute;
        display: inline-block;
        width: 280px;
        height: 3px;
        background-color: #e65925;
        top: 60%;
        right: 50%;
        transform: translateY(-3px) translateX(140px);
        z-index: -1;
    }
    
    .about .title span {
        position: absolute;
        display: inline-block;
        width: 70px;
        height: 3px;
        background-color: #e65925;
        top: 50%;
        right: -90px;
        /* transform: translateY(-3px); */
    }
    
    .about .text .d-flex {
        align-items: center;
    }
    
    .about .text .d-flex img {
        width: 30px;
    }
    
    .about .text .d-flex p {
        font-size: 15px;
        color: #333132;
        font-weight: 300;
        letter-spacing: 1px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .about .text .bt {
        display: inline-block;
        background-image: url('../img/Vector-Smart-Object-copy-10.png');
        background-repeat: repeat-x;
        border: 0;
        background-position: left;
        background-size: 100%;
        padding: 40px 40px 40px 20px;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
    }
    /* cac buoc */
    
    .bgchungchicacbuoc {
        background: #eff9fe;
        position: relative;
        z-index: 0;
    }
    
    .bgchungchicacbuoc .title h5 {
        background-color: #eff9fe!important;
    }
    
    .bgchungchicacbuoc .box_cacbuoc {
        background: #fff;
    }
    
    .bgchungchicacbuoc .box_cacbuoc::before {
        content: "";
        position: absolute;
        border-left: 3px solid #32409a;
        border-top: 3px solid #32409a;
        width: 55px;
        height: 30px;
        left: 15px;
        top: 0;
        transition: .5s;
        -webkit-transition: .5s;
    }
    
    .bgchungchicacbuoc .box_cacbuoc:hover:before {
        width: calc(100% - 30px);
        height: 100%;
        border-left: 3px solid #32409a;
        border-top: 3px solid #32409a;
    }
    
    .bgchungchicacbuoc .box_cacbuoc::after {
        content: "";
        position: absolute;
        border-right: 3px solid #32409a;
        border-bottom: 3px solid #32409a;
        width: 55px;
        height: 30px;
        right: 15px;
        bottom: 0;
        transition: .5s;
        -webkit-transition: .5s;
    }
    
    .bgchungchicacbuoc .box_cacbuoc:hover:after {
        width: calc(100% - 30px);
        height: 100%;
        border-right: 3px solid #32409a;
        border-bottom: 3px solid#32409a;
    }
    
    .bgchungchicacbuoc .box_cacbuoc .box_text p {
        color: #32409a;
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
        padding-bottom: 15px;
        line-height: 30px;
        display: block;
    }
    
    .bgchungchicacbuoc .box_cacbuoc .box_text h2 {
        font-weight: 900;
        color: #82683b;
        padding: 5px 0;
    }
    /* doitac */
    
    .partner {
        background-image: linear-gradient(to right, #fbae17, #d93323);
    }
    
    .partner .item {
        height: 110px;
    }
    
    .partner .item img {
        height: 100%;
        object-fit: contain;
        padding: 20px;
    }
    
    .partner {
        text-align: center;
    }
    
    .partner span {
        display: inline-block;
        width: 200px;
        border-bottom: 3px solid #34b9b6;
        margin-top: 50px
    }
    /*========== product-======= */
    
    .services .content .box_sp .things .text_sp h3 a {
        color: #32409a;
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
        padding-bottom: 15px;
        line-height: 30px;
        display: block;
    }
    
    .services .title {
        position: relative;
    }
    
    .team .things .text_sp {
        position: absolute;
        width: 90%;
        bottom: 1px;
        left: 5%;
        background-color: rgb(255 255 255 / 90%);
        padding: 15px 20px;
        border-radius: 7px;
        box-shadow: 0 0 6px #dfdfdf;
    }
    
    .services .title span {
        position: absolute;
        display: inline-block;
        width: 200px;
        height: 3px;
        background-color: #e65925;
        top: 50%;
        right: 50%;
        transform: translateY(0px) translateX(100px);
        z-index: -1;
    }
    
    .services .title h5 {
        color: #e65925;
        font-size: 18px;
        background-color: #fff;
        display: inline-block;
        padding: 0 10px;
        font-weight: 500;
        text-transform: capitalize;
    }
    
    .services .titles {
        position: relative;
    }
    
    .services .titles h3 {
        color: #32409a;
        font-size: 52px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .services .titles span {
        position: absolute;
        color: #32409a25;
        font-size: 70px;
        font-weight: 700;
        z-index: -1;
        letter-spacing: 3px;
        top: 0;
        display: block;
        width: 100%;
        text-transform: uppercase;
    }
    
    .services .content .box_sp .things .text_sp {
        overflow: hidden;
        width: 75%;
        bottom: 0;
        transform: translateY(-15px);
    }
    
    .services .content .box_sp .things .text_sp a {
        color: #e65925;
        font-size: 15px;
        font-weight: 600;
    }
    
    .services .content .box_sp .things .text_sp h3 {
        color: #32409a;
        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 30px;
    }
    
    .services .content .box_sp .things .text_sp p {
        color: #333132;
        font-size: 17px;
        font-weight: 300;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: justify;
        margin-bottom: 20px;
    }
    /* danh muc */
    /* =====video===== */
    
    .head-box {
        color: #fff;
        margin-bottom: 50px;
    }
    
    .head-box .title {
        position: relative;
    }
    
    .head-box .title h5 {
        font-size: 18px;
        display: inline-block;
        background: linear-gradient(to right, #ec781c, #e8691e);
        position: relative;
        z-index: 100;
        padding: 0px 5px;
        text-transform: capitalize;
        color: #30409a;
    }
    
    .head-box .title span {
        position: absolute;
        top: 51%;
        left: 50%;
        margin-left: -100px;
        margin-top: 0;
        border-color: #31419a;
    }
    
    .head-box .titles {
        position: relative;
    }
    
    .head-box .titles h3 {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .head-box .titles span {
        font-size: 70px;
        width: 100%;
        border: none;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        opacity: 15%;
        text-transform: uppercase;
    }
    
    .video .head-box .title h5 {
        background: none;
        color: #c4553d;
        background: #fff;
    }
    
    .video .head-box .titles {
        color: #30409a;
    }
    
    .video .head-box .title>span {
        width: 200px;
        border: 2px solid #d27d6b;
    }
    /* thu vien  */
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        grid-auto-rows: minmax(100px, auto);
    }
    
    .one {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .two {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    .three {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .wrapper img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
    
    .box-img:hover img {
        width: 110%;
        transform: scale(1.3) rotate( 3deg);
    }
    
    .box-img {
        overflow: hidden;
        position: relative;
        max-height: 280px;
        border-radius: 5px;
    }
    
    .box-img img {
        transition: all 0.7s ease;
    }
    
    .box-img a:hover:after {
        display: block;
    }
    
    .box-img a:after {
        content: '';
        display: none;
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    /* tin tuc */
    
    .news .title {
        position: relative;
    }
    
    .news .title span {
        position: absolute;
        display: inline-block;
        width: 280px;
        height: 3px;
        background-color: #e65925;
        top: 50%;
        right: 50%;
        transform: translateY(0px) translateX(140px);
        z-index: -1;
    }
    
    .news .title h5 {
        color: #e65925;
        font-size: 18px;
        background-color: #fff;
        display: inline-block;
        padding: 0 10px;
        font-weight: 500;
        text-transform: capitalize;
    }
    
    .news .titles {
        position: relative;
    }
    
    .news .titles h3 {
        color: #32409a;
        font-size: 52px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .news .titles span {
        position: absolute;
        color: #32409a25;
        font-size: 70px;
        font-weight: 700;
        z-index: -1;
        letter-spacing: 3px;
        width: 100%;
        display: block;
        top: 0;
        text-transform: uppercase;
    }
    
    .news .things {
        position: relative;
        box-shadow: 0 0 7px #d8d8d8;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: hidden;
    }
    
    .news .newss .item {
        padding: 2px;
    }
    
    .news .things .date {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #e65925;
        padding: 15px;
        color: #fff;
        border-radius: 10px 0 10px 0;
        z-index: 2;
    }
    
    .news .things .text_news {
        padding: 0 20px 10px;
    }
    
    .news .things .date p {
        text-align: center;
    }
    
    .news .things .date p:first-child {
        text-align: center;
        border-bottom: 2px solid #fff;
        padding-bottom: 5px;
    }
    
    .news .things .text_news h3 {
        color: #30409a;
        font-size: 20px;
        height: 26px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .news .things .text_news p {
        color: #333132;
        font-size: 15px;
        font-weight: 300;
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .news .things .text_news a {
        color: #e65925;
        font-size: 15px;
        font-weight: 600;
    }
    
    .news .things .box-thumbnail {
        padding-top: 63%;
    }
    
    .news .things .box-thumbnail .thumbnail-lazy {
        border: 0;
    }
    
    .news .things .box-thumbnail .thumbnail-lazy {
        border: 0;
    }
    
    .news .things .box-thumbnail {
        padding-top: 63%;
    }
    
    .box-thumbnail {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: block;
        background: #f8f8f8;
    }
    
    .scale:hover img {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    
    .scale img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
    }
    
    .thumbnail-lazy {
        position: absolute;
        top: 0px;
        left: 0px;
        /* width: calc(100% - 2px); */
        /* height: calc(100% - 2px); */
        display: block;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
    }
    
    .thumbnail-lazy {
        width: 100%;
        background-image: linear-gradient(to left, #f5f5f5 0, #efefef 15%, #f5f5f5 40%, #f5f5f5 100%);
        background-repeat: no-repeat !important;
        background-color: #f5f5f5;
        background-size: 900px 1700px !important;
        background-position: center center !important;
        animation: pencipreload 1s infinite linear forwards;
        -webkit-animation: pencipreload 1s infinite linear forwards;
        border: 1px solid #ccc;
    }
    
    .thumbnail-lazy {
        border: 0;
        height: 100%;
    }
    /* }============mail=========== */
    
    .containerx {
        position: relative;
    }
    
    .box_email {
        position: relative;
        padding-top: 17.5%;
    }
    
    .bgs {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 50px;
    }
    
    .bgs .st {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 50px;
    }
    
    .mail .bgs {
        background-color: #30409a;
        padding: 50px;
        background-image: url(../img/bg-sign2.png);
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: right top;
    }
    
    .mail .bgs {
        background-color: #30409a;
        padding: 50px;
    }
    
    .mail .bgs .rows {
        align-items: center;
        display: flex;
        margin: 0;
    }
    
    .mail .col-md-4 h3 {
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 15px;
    }
    
    .mail .col-md-4 p {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        text-align: justify;
        line-height: 20px;
        height: 60px;
        overflow: hidden;
    }
    
    .mail input {
        padding: 15px;
        width: 100%;
        border-radius: 8px;
        border: 0;
        outline: 0;
    }
    
    .mail button {
        padding: 15px;
        border-radius: 8px;
        border: 0;
        outline: 0;
        margin: 0 30px;
        background-color: #e75925;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .mail button img {
        width: 14px;
        margin-top: -2px;
    }
    /*============== FOOTER ==============*/
    
    .footer {
        background-image: linear-gradient(to right, #d93323, #fbae17);
        background-size: cover;
    }
    
    .border-bottom {
        border-bottom: 1px solid #8e8e8e;
    }
    
    .footer1 .row {
        display: flex;
        align-items: center;
    }
    
    .footer1 .mxh_ft ul li {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        text-align: center;
        line-height: 45px;
        border-radius: 50%;
        transition: all .5s;
        margin: 0 10px;
    }
    
    .footer1 .mxh_ft ul li:hover {
        border: 2px solid #e65925;
    }
    
    .footer1 .mxh_ft ul li:hover a {
        color: #e65925;
    }
    
    .footer1 .mxh_ft ul li a {
        color: #fff;
        transition: all .5s;
        font-size: 20px;
    }
    
    .footer2 .col-md-4 h3 {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 15px;
        color: #fff;
        line-height: 23px;
        text-transform: uppercase;
    }
    
    .footer2 .col-md-4 p {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: justify;
        color: #fff!important;
        display: -webkit-box;
        /*-webkit-line-clamp: 5;*/
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    
    .footer2 .col-md-4 img {
        width: 14px;
        margin-top: -3px;
    }
    
    .footer3 p {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: justify;
        padding-bottom: 15px;
        color: #fff;
    }
    
    .footer3 ul li {
        display: inline-block;
        text-transform: uppercase;
        padding: 10px 0px;
    }
    
    .footer3 ul li a {
        color: #fff;
        border-right: 1px solid #fff;
        padding: 0px 18px;
    }
    
    .footer3 ul li a.active {
        font-weight: 800;
    }
    
    .footer3 ul li:last-child a {
        border-right: none;
    }
    /* contact */
    
    .btn-zalo {
        bottom: 315px;
    }
    
    .btn-frame {
        display: block;
        width: 50px;
        height: 50px;
        position: fixed;
        right: 20px;
        z-index: 10;
        cursor: pointer;
    }
    
    .btn-frame .animated.infinite {
        animation-iteration-count: infinite;
    }
    
    .btn-frame .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    
    .btn-frame .zoomIn {
        animation-name: zoomIn;
    }
    
    .btn-frame .kenit-alo-circle {
        width: 60px;
        height: 60px;
        top: -5px;
        right: -5px;
        position: absolute;
        background-color: transparent;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid rgba(7, 41, 103, 0.8);
        opacity: .1;
        border-color: #1182FC;
        opacity: .5;
    }
    
    .btn-frame .animated.infinite {
        animation-iteration-count: infinite;
    }
    
    .btn-frame .pulse {
        animation-name: pulse;
    }
    
    .btn-frame .kenit-alo-circle-fill {
        width: 70px;
        height: 70px;
        top: -10px;
        right: -10px;
        position: absolute;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        background-color: rgba(7, 41, 103, 0.35);
        opacity: .4;
    }
    
    .btn-frame .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    
    .btn-frame i {
        display: flex;
        display: -ms-flex;
        justify-content: center;
        align-items: center;
        -ms-flex-align: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #1182FC;
        position: relative;
        z-index: 1;
    }
    
    .btn-frame i img {
        vertical-align: middle;
        width: 70%;
    }
    
    .btn-phone {
        bottom: 230px;
    }
    
    @media only screen and (min-width: 1199px) {
        .bdl {
            padding-left: 0;
        }
        .bdr {
            padding-right: 0;
        }
    }
    /* mobile */
    
    @media only screen and (max-width: 1199px) {
        .logo {
            margin-bottom: 0px;
        }
        .bgheader>.flex-space-between {
            flex-direction: column;
        }
    }
    
    @media only screen and (max-width:1024px) {
        .c-mburger {
            display: block;
        }
        .bghotline,
        .bgdiachi {
            display: none;
        }
        .bgheadertop>.flex-space-between {
            justify-content: flex-end;
        }
        .logo img {
            max-height: 85px;
        }
        .bgheader>.flex-space-between {
            flex-direction: row;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .wrapper {
            display: unset;
        }
        .banner {
            height: 150px;
        }
        .wrapper .one,
        .wrapper .two,
        .wrapper .three {
            margin-bottom: 15px;
        }
        .bgchungchi {
            background: #d9a112;
        }
        .mail button {
            margin: 15px 0;
        }
        .bgs {
            position: unset;
            padding: 50px 0!important;
        }
        .cname {
            width: calc(100% - 160px);
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            color: #c0a115;
            display: block;
        }
        .fb {
            margin-top: 20px;
        }
        .chung_chi {
            width: 100%;
            background: none;
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
    
    @media only screen and (max-width:555px) {
        .chung_chi .box {
            position: unset;
            width: 49%;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 20px;
        }
        .chung_chi .box:nth-child(2n+1) {
            margin-right: 0px;
        }
    }
    /* mobile */
    /* backTop */
    
    body .backTop:hover {
        background: #dc8802;
    }
    
    body .backTop {
        position: fixed;
        right: 20px;
        bottom: 18px;
        width: 50px;
        height: 50px;
        line-height: 45px;
        z-index: 400;
        background: #30409a;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        text-align: center;
    }
    
    .backTop i {
        font-size: 20px;
        padding: 15px;
    }
    
    body .backTop,
    header.inside .menu>li>a,
    header.inside .menu>li>ul>li>a {
        color: #fff;
    }
    
    .map {
        width: 100%;
        height: 360px;
    }
    /* ------ */
    
    .img_style {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
    }
    
    .shadow_img {
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        height: 100%;
        max-height: 450px;
    }
    
    .shadow_img .img_main {
        padding: 30px;
        box-shadow: unset;
        width: 100%;
    }
    /* page tintuc */
    
    .tintuc .news img {
        width: 100%;
        height: 360px;
    }
    
    .banner {
        background-image: url(../img/bgbb.png);
        background-size: cover;
        padding: 12% 0;
        position: relative;
    }
    
    .banner .mau {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #30409ad3;
        padding-top: 8%;
    }
    
    .banner h3 {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        font-size: 40px;
        /* transform: translatey(-16px); */
        font-weight: bold;
    }
    
    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        background-color: transparent;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin: 0;
        /* padding-left: 0 !important; */
    }
    
    .breadcrumb li {
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .breadcrumb li a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    .breadcrumb>.active {
        color: #777;
    }
    
    .breadcrumb>li+li:before {
        padding: 0 5px;
        color: #ccc;
        content: '>';
    }
    
    .tintuc .d-flex {
        align-items: center;
        background-image: linear-gradient(to right, #fbae17, #d93323);
        padding: 15px;
        margin-bottom: 20px;
    }
    
    .tintuc .d-flex h3 {
        color: #fff;
        width: 50%;
        text-transform: uppercase;
        margin: 0;
    }
    
    .tintuc .d-flex p {
        color: #fff;
        text-align: right;
        width: 50%;
        margin: 0;
    }
    
    .tintuc .d-flex p a {
        color: #fff;
    }
    
    .tintuc .col-md-4 h3 {
        color: #32409a;
        font-size: 20px;
        line-height: 22px;
        height: 22px;
        font-weight: 700;
        margin-top: 25px;
        margin-bottom: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .tintuc .col-md-4 p {
        color: #333132;
        font-size: 15px;
        letter-spacing: 1px;
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 300;
        line-height: 20px;
        height: 40px;
    }
    
    .tintuc .col-md-4 .bt {
        display: inline-block;
        background-image: url('../img/bg%20xanh.png');
        background-repeat: repeat-x;
        border: 0;
        background-position: left;
        background-size: 100%;
        padding: 40px 40px 40px 20px;
        background-color: transparent;
        color: #fff;
        font-weight: 600;
    }
    /* page thu vien anh */
    
    .thuvienanh img {
        width: 100%;
    }
    
    .thuvienanh .thumb_image_gallery {
        border-radius: 6px;
        border: 2px solid #dc8802;
        overflow: hidden;
        margin-top: 30px;
    }
    
    .thuvienanh .box-img:hover img {
        width: 100%;
    }
    /* phan tranng */
    
    .pagination-ajax,
    .pagination1 {
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: #444;
    }
    
    .pagination-ajax li,
    .pagination1 li {
        display: inline-block;
    }
    
    .pagination-ajax a,
    .pagination1 a {
        cursor: pointer;
        display: block;
        margin: 2px 4px 2px 0px;
        padding: 10px 14px;
        background-color: #f2f2f2;
        line-height: 1.0;
    }
    
    .pagination-ajax .active a,
    .pagination-ajax a:hover,
    .pagination1 a:hover,
    .pagination1 .active a {
        background-color: #dc8802;
        color: #fff;
        text-decoration: underline !important;
    }
    
    .pagination-ajax a,
    .pagination1 a {
        cursor: pointer;
        display: block;
        margin: 2px 4px 2px 0px;
        padding: 10px 14px;
        background-color: #f2f2f2;
        line-height: 1.0;
    }
    /* liennhe */
    
    .contact .form h3 {
        margin: 0px 0px 25px 0px;
        font-family: var(--font-bold);
        font-size: 35px;
        text-transform: uppercase;
    }
    
    .contact .form .td {
        box-sizing: border-box;
        float: left;
        margin-bottom: 15px;
    }
    
    .contact .form .td1 {
        margin-right: 15px;
        width: calc(((100% + 15px) / 2 - 15px));
        width: -moz-calc(((100% + 15px) / 2 - 15px));
        width: -o-calc(((100% + 15px) / 2 - 15px));
        width: -webkit-calc(((100% + 15px) / 2 - 15px));
        width: -ms-calc(((100% + 15px) / 2 - 15px));
    }
    
    .contact .form .txtcontact,
    .contact .form select {
        height: 50px;
    }
    
    .contact .form .td1:nth-child(2n) {
        margin-right: 0px;
    }
    
    .contact .form textarea,
    .contact .form .txtcontact,
    .contact .form select {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #e4e4e4;
        padding: 0px 15px;
        font-family: var(--font-regular);
        border-radius: 5px;
    }
    
    .contact .form .td2 {
        width: 100%;
    }
    
    .contact .form button,
    .contact .form input[type="submit"] {
        float: left;
        border: 3px solid #ededed;
        padding: 15px 25px;
        margin-right: 15px;
        background-color: #ecc800;
        font-family: var(--font-bold);
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .bg_lienhe {
        margin: 45px 0;
    }
    
    .contact .ckeditor {
        background-color: #fff;
        box-shadow: 0px 0px 5px #00000042;
        padding: 20px;
    }
    /* ct san pham */
    
    .product-small {
        background-color: #fff;
        box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        border: 2px solid #ddd;
        overflow: hidden;
        box-shadow: 0 0 7px #d8d8d8;
        border-radius: 5px;
    }
    
    .title-wrapper a {
        color: #30409a;
        font-size: 20px;
        height: 26px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .price-wrapper {
        text-align: center;
        font-weight: 900;
        color: red;
    }
    
    .pd_lienquan:hover img {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    
    .pd_lienquan img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
    }
    
    .desc_pduct h5 {
        font-size: 30px!important;
    }
    
    .is-divider {
        height: 3px;
        display: block;
        background-color: #e65925;
        margin: 1em 0 1em;
        width: 100%;
        max-width: 100px;
    }
    
    .price-wrapper .price {
        height: 1.3em;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        line-height: 120%;
    }
    
    .woocommerce_price {
        white-space: nowrap;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .woocommerce {
        color: #ff0000;
        font-weight: bold;
    }
    
    .product-image {
        display: none;
    }
    
    .image-list li {
        margin: 0;
        list-style-type: none;
    }
    
    .product-image img,
    .image-list img {
        width: 100%;
    }
    
    .product-image {
        display: block;
    }
    
    .product-image img {
        height: 52vh;
    }
    
    .product-image img.active {
        display: block;
        margin: 0 0 0.75rem 0;
    }
    
    .image-list {
        display: flex;
        overflow: hidden;
        padding: 0;
    }
    
    .image-list li {
        margin: 0 0.75rem 0 0;
        flex-basis: 100%;
    }
    
    .image-list li:nth-child(3) {
        margin: 0;
    }
    
    .image-list img {
        height: 10rem;
        width: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }
    
    .image-list img:hover {
        opacity: 0.7;
    }
    /* ct tin tuc */
    
    .text_news h2 {
        color: #30409a;
        font-weight: 900;
        margin-bottom: 15px;
        margin-top: 15px;
        text-align: center;
    }
    
    .text_news p {
        color: #333132;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        font-weight: 500;
    }
    
    .date_view {
        width: 100%;
        padding: 0 10px 10px 10px;
        display: block;
        font-size: 13px;
    }
    
    .date_view .date i {
        margin-right: 10px;
    }
    /* menu scroll */
    
    .menu_scroll {
        position: fixed;
        top: 25%;
        left: 3px;
        z-index: 9;
    }
    
    .menu_scroll ul {
        list-style-type: none;
        padding-left: 3px;
    }
    
    .menu_scroll ul li a {
        width: 44px;
        height: 44px;
        display: inline-block;
        border-radius: 50%;
    }
    
    .menu_scroll ul li .div1 {
        background: url('../img/image_chia-se-mien-phi-bo-icon-cac-nganh-nghe-07.jpg')-10px -23px;
    }
    
    .menu_scroll ul li .div2 {
        background: url('../img/image_chia-se-mien-phi-bo-icon-cac-nganh-nghe-07.jpg') 164px 240px;
    }
    
    .menu_scroll ul li .div3 {
        background: url('../img/image_chia-se-mien-phi-bo-icon-cac-nganh-nghe-07.jpg') 164px 306px;
    }
    
    .menu_scroll ul li .div4 {
        background: url('../img/image_chia-se-mien-phi-bo-icon-cac-nganh-nghe-07.jpg') -63px -23px;
    }
    
    .menu_scroll ul li .div5 {
        background: url('../img/image_chia-se-mien-phi-bo-icon-cac-nganh-nghe-07.jpg') -10px -81px;
    }
    
    .menu_scroll ul li .div6 {
        background: url('../img/image_chia-se-mien-phi-bo-icon-cac-nganh-nghe-07.jpg') 986px -23px;
    }
    
    .menu_scroll ul li .div7 {
        background: url('../img/image_chia-se-mien-phi-bo-icon-cac-nganh-nghe-07.jpg') 434px -23px;
        ;
    }
    /* tin lien quan */
    
    .news .img_news .img img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    
    .news .img_news .img img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    
    .news .title .news_title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        color: #2b368c;
        margin: 5px 0;
    }
    
    .news .img_news .img:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    
    .news .title a:hover {
        color: #f9b015;
    }
    /* menu goi dien  */
    
    .goidien {
        display: none;
        position: fixed;
        z-index: 999;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-top: 3px solid #e65925;
        background-color: #30409a;
    }
    
    .goidien .td {
        text-align: center;
        width: 25%;
        box-sizing: border-box;
        padding: 6px 5px;
    }
    
    .blink_me {
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-name: blinker;
        -moz-animation-duration: 1s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        animation-name: blinker;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    .goidien a {
        color: #fff;
    }
    
    .goidien i {
        font-size: 25px;
    }
    
    .goidien label {
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    @media only screen and (max-width: 1024px) {
        .goidien {
            display: flex;
        }
        body .backTop {
            bottom: 100px;
        }
        .menu_scroll {
            display: none;
        }
    }